body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#canvas3d {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure the canvas is below other elements */
}

#hamburger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  z-index: 4;
  cursor: pointer;
}

#hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#hamburger-menu.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#hamburger-menu.active span:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.scroll-container-wrapper {
  position: absolute;
  top: 60px;
  left: 20px;
  transform: translateX(0);
  display: none;
  flex-direction: column;
  width: 200px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-out;
}

.scroll-container {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  background: transparent;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  animation: button-easeInFromTop 0.5s ease-out;
  animation: button-easeOutToTop 0.5s ease-out;
}

.close-button:hover {
  background-color: #c00;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Ensure it's above other elements */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #0019FF; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite, fadeIn 0.5s ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Keyframes for ease-in from top right corner animation */
@keyframes button-easeInFromTop {
  0% {
    opacity: 0;
    transform: translate(20px, -20px); /* Move from top right */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); /* Final position */
  }
}

@keyframes button-easeOutToTop {
  0% {
    opacity: 1;
    transform: translate(0, 0); /* Original position */
  }
  100% {
    opacity: 0;
    transform: translate(20px, -50px); /* Move to top right and above */
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .scroll-container-wrapper {
    width: 80%; /* Adjust width for smaller screens */
    top: 10px;
  }

  .scroll-item {
    min-width: 80px;
    padding: 15px;
  }

  .close-button {
    left: calc(50% - 250px); /* Adjust position for smaller screens */
  }
}

@media (max-width: 480px) {
  .scroll-container-wrapper {
    width: 90%; /* Adjust width for even smaller screens */
    top: 5px;
  }

  .scroll-item {
    min-width: 70px;
    padding: 10px;
  }

  .close-button {
    left: calc(50% - 190px); /* Adjust position for smaller screens */
  }
}
